.navbar-box {
    font-size: large;
    background-color: #6FB3BB;
    color: white;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.navbar-pages {
    display: flex;
    gap: 20px;
    padding: 20px;
}
.navbar-lang {
    padding: 20px;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #eeeeee;
}
.text-content {
    padding-left: 20px;
    width: 60vw;
}
.short-desc {
    max-width:90%;
    font-size: 1.1em;
}
.columns {
    display: flex;
}
.image1 img {
    width: 100%;
    height: auto;
}
.image1 {
    padding: 20px;
    width: 40vw;
}
.example-grid{
    display: flex;
    gap: 20px;
    justify-content: space-between;

    width: 90%;
}
.example-tool img {
    background-color: white;
    width: 10vw;
    height: auto;
}
#modal {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    overflow: auto;
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);

}
.modal-content {
    background-color: white;
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0px 20px 20px 20px;
    justify-content: space-between;
}
.closebtn {
    border: 0px;
    color: white;
    background-color: #6FB3BB;
    padding: 10px;
    border-radius: 12%;
    width: max-content;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.closebtn:hover {
    border: 1px solid #6FB3BB;
    color: #6FB3BB;
    background-color: white;
    padding: 10px;
    border-radius: 12%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.en:hover, .nl:hover{
    background-color: white;
    color: #6FB3BB
}
.en, .nl {
    padding: 10px;
    margin: 2px;
    border: 1px solid white;
}