@font-face {
    font-family: 'sf';
    src: url('SF-Pro-Text-Light.ttf');

}
.navbar-box {
    font-size: large;
    background-color: #a9d4ef;
    color: #f2f2f2;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
}
a {
    color: rgb(58, 57, 57);
    font-family: 'sf';
    font-size: medium;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}


.navbar-pages {
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;
}
.navbar-lang {
    display: flex;
    color: rgb(58, 57, 57);
    font-family: 'sf', sans-serif;
    font-size: medium;
    gap: 20px;
    padding: 20px;
    align-items: center;
}
body {
    font-family: sf;
    color: rgb(58, 57, 57);
    margin: 0;
    background-color: #eeeeee;
}
.learn-link {
    color:black;
    text-decoration: underline;
    font-size: large;
}
.learn-link:hover {
    font-size:large;
}
.header-innovative {
    padding-left: 20px;
    font-weight: 500;
    font-size: 2.5em;
}
.short-desc {
    max-width: 675px;
    padding-left:20px;
    font-size: 1.2em;
}
.search-in{
    margin-left: 20px;
    margin-top: 10px;
    padding: 10px;
}
.tools-grid{
    margin:20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1em 1em;
}
.tools-grid a {
    color: rgb(58, 57, 57);
}

a:hover { 
    font-size: 16.3px;
    color:black;
}
.footer-box {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    background-color: #a9d4ef;
    color: rgb(58, 57, 57);
    
}
.footer-box p{
    padding: 20px;
    display: inline-block;
    margin:0
}


.toolbg:hover {
    transform: scale(1.02); 
    box-shadow: 6px 6px 6px rgb(215, 213, 213); 
}
.tooltitle{
    color: rgb(58, 57, 57);
}
.toolbg{
    background-color: white;
    border-radius: 15px;
    height: 200px;
    padding: 10px;
    box-shadow: 5px 5px 5px rgb(233, 231, 231);
    transition: all 0.2s ease-in-out;
}
.toolbg p {
    margin-left: 20px;
}
